# init script for Korean LG U+

on init
    mkdir /tombstones

on boot

# LGT contents directory
    mkdir /data/data/com.ubivelox.wipiplayer/W 0770 system lgt_gid
    mkdir /data/LGTContents 0770 system lgt_gid
    mkdir /data/LGTContents/video 0770 system lgt_gid
    mkdir /data/LGTContents/music 0770 system lgt_gid
    mkdir /data/LGTContents/bell 0770 system lgt_gid
    mkdir /data/LGTContents/app 0770 system lgt_gid
    mkdir /data/LGTContents/DLtmp 0770 system lgt_gid
    mkdir /data/LGTContents/ringforme 0770 system lgt_gid

    chown system lgt_gid /data/data/com.ubivelox.wipiplayer/W
    chown system lgt_gid /data/LGTContents
    chown system lgt_gid /data/LGTContents/video
    chown system lgt_gid /data/LGTContents/music
    chown system lgt_gid /data/LGTContents/bell
    chown system lgt_gid /data/LGTContents/app
    chown system lgt_gid /data/LGTContents/DLtmp
    chown system lgt_gid /data/LGTContents/ringforme

on fs

#MDM requirement
    mkdir /data/cp_log
    chmod 0775 /data/cp_log
    chown system radio /data/cp_log

    mkdir /dev/block/modem
    symlink /dev/block/platform/dw_mmc.0/by-name/m9kefs1 /dev/block/modem/m9kefs1
    symlink /dev/block/platform/dw_mmc.0/by-name/m9kefs2 /dev/block/modem/m9kefs2
    symlink /dev/block/platform/dw_mmc.0/by-name/m9kefs3 /dev/block/modem/m9kefs3
    symlink /dev/block/platform/dw_mmc.0/by-name/ /dev/block/modem/dump_path
    chown system radio /dev/block/modem/m9kefs1
    chmod 0775 /dev/block/modem/m9kefs1
    chown system radio /dev/block/modem/m9kefs2
    chmod 0775 /dev/block/modem/m9kefs2
    chown system radio /dev/block/modem/m9kefs3
    chmod 0775 /dev/block/modem/m9kefs3
    chown system radio /dev/block/modem/dump_path
    chmod 0775 /dev/block/modem/dump_path

    mkdir /firmware 0771 system system
    mount vfat /dev/block/mmcblk0p13 /firmware ro shortname=lower fmask=0133,dmask=0022
    chown system system /tombstones
    chmod 0775 /tombstones
    restorecon -R /tombstones
    mkdir /tombstones/modem 0775 system system
    mkdir /tombstones/lpass 0775 system system
    mkdir /tombstones/wcnss 0775 system system
    mkdir /tombstones/dsps 0775 system system
    rmdir /tombstones/qcks
    mkdir /tombstones/qcks 771 system system
    rmdir /tombstones/efs
    mkdir /tombstones/efs 771 system system

    chown system radio /dev/block/platform/dw_mmc.0/by-name
    chmod 0775 /dev/block/platform/dw_mmc.0/by-name

# for LGU I-WLAN
on property:sys.mobicoredaemon.enable=true
    insmod /lib/modules/mwlan_aarp.ko
