on init
    # Private Mode
    mkdir /mnt/shell/privatemode 0700 system
    mkdir /storage/Private 0000 system system

on post-fs-data
    mkdir /data/privatemode 07700 system system
    chown system system /data/privatemode
    restorecon /data/privatemode

service privatemode /system/bin/sdcard /data/privatemode /mnt/shell/privatemode 1000 1000
    class late_start
    oneshot
